:root {
  --navy: #022737;
  --white: #fff;
  --white-two: #eaeaea;
  --text-color: #505050;
  --deep-torquoise: #006778;
  --light-grey-blue: #b6bdbd;
  --helvetica: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
}
body {
  margin: 0;
  font-family: var(--helvetica);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #505050;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.MuiTab-textColorInherit.Mui-selected {
  color: var(--deep-torquoise);
  border-bottom: none !important;
  border-left: none !important;
  background-color: #fff;
}
.MuiIconButton-root {
  margin: 0px 20px !important;
  width: 27px !important;
  height: 27px !important;
  border: solid 0.6px #727272 !important;
  color: #727272 !important;
  background-color: transparent !important;
}
.MuiTabs-fixed {
  overflow-x: auto !important;
}
.MuiBox-root {
  padding: 20px 30px 17px !important;
}
.MuiTab-root {
  min-width: auto !important;
}
@media only screen and (max-width: 991px) {
  .MuiIconButton-root {
    margin: 0px 10px !important;
  }
  .MuiBox-root {
    padding: 20px 20px 17px !important;
  }
}
